@model LibraryApp.Models.MemberBook

@{
    ViewData["Title"] = "Kitap Teslim Yönetimi";
}

<h4>Sil</h4>

<h5>Emin misiniz?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.EMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsTakenBack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsTakenBack)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye dön</a>
    </form>
</div>
